.botonNumero{
    background-color: rgb(94, 94, 235);
    border: 1px solid black;
    border-radius: 5%;
    margin: 1px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 500;
}

.botonOperacion,
.igual{
    background-color: rgb(221, 45, 45);
    border: 1px solid black;
    border-radius: 5%;
    margin: 1px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 700;
}
.botonNumero:hover{
    background-color: rgb(85, 0, 255);
}
.botonOperacion:hover{
    background-color: rgb(255, 0, 0);
}